<a href="#/">Home</a>
<div class='row'>
  <h2 class="text-center">Challenge Problem</h2>
  <div class="text-center">
    {{ question }}
  </div>
  
  <br/>
  <div class="col-xs-6">
    <h4>Your Code Here</h4>
    <ui-codemirror ng-model="code" ng-change="typing(code)" ui-codemirror-opts="editorOptions">{{code}}</ui-codemirror>
    <button ng-click="evaluate(code)" class="btn-primary">Submit Code</button>

    <div class="stats" ng-if="inputs">
      <div>inputs: {{inputs | json}} </div>
      <div>expected Output: {{answer}} </div>
      <div>actual Output: {{response}} </div>
    </div>
  </div>
  <div class="col-xs-6">
    <h4>Opponent Progress:</h4><br/>
    <div id='opponent'>
      <textarea id='opponentEditor' class="col-xs-6 full-height" ui-codemirror-opts="editorOptions">{{competitorCode}}</textarea>
      <!-- <ui-codemirror='{ onLoad: opponentEditor }' id='opponentEditor'>{{competitorCode}}</ui-codemirror> -->
    </div>
  </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

