<h2>Challenge Problem</h2>
Create a sum function that adds a and b and returns the total.


<h4>Your Code Here</h4>
<textarea ng-model="code" ng-change="typing(code)">{{code}}</textarea>
  <button ng-click="evaluate(code)" data-toggle="modal" data-target="#myModal">Submit Code</button>
<div class="stats" ng-if="inputs">
  <div>inputs: {{inputs | json}} </div>
  <div>expected Output: {{expectedAnswer}} </div>
  <div>actual Output: {{response}} </div>
</div>
<h4>Opponent Progress:</h4>
<textarea>{{competitorCode}}</textarea>


<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Challenge Response</h4>
      </div>
      <div class="modal-body">
        <div ng-hide="dataLoaded">
          <i class="fa fa-spinner fa-spin"></i>
        </div>
        <!-- <p>The response from the worker was {{validResponse}}</p> -->
        <div ng-if="validResponse">
          <div ng-repeat="(i, test) in tests">
            input: {{test.input}}, answer: {{test.functionResponse}}
          </div>
        </div>
        <div ng-if="passed">
          Correct answer! Winner!
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>