html, body, section, .full-height {
    height: 100%;
    width: 100%;
} 

h4, button{
  display: inline;
}

.logo {
  position: relative;
  top:-10px;
  width:70px;
  background-color: white;
  border-radius: 3px
}

.opponentLeft {
  color: red;
}

.opponentPassed {
  color:blue;
}

.navbar {
  margin-bottom: 5px;
}

/* Styles for main page */
#starting-form {
  display: block;
  margin: auto;
  width: 50%;
}

#input-username {
  height: 50px;
}

#start-race {
  display: block;
  margin: auto;
  margin-top: 15px;
  height: 40px;
  width: 40%;
}

#users-vs {
  display: block;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

#users-vs h3 {
  margin-top:10px;
  float:left;
  width:48%;
  text-align:center;
}

#users-vs h4 {
  margin-top:0px;
  float:left;
  width: 48%;
  margin-left:52%;
  text-align: center;
}

#users-vs img {
  float: left;
  width:4%;
}

#challenge-submit {
  width: 15%;
  padding: 10px;
  margin:auto;  
  margin-top: 10px;
  display: block;
}

/* Race Controller Styles */

#waiting-opponent h2 {
  margin: auto;
  width: 50%;
  margin: auto;
  text-align: center;
  margin-top: 50px;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 5px;
}

#opponentEditor{
  min-height: 650px;
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

/*#challenge-question {
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  text-align: center;
  font-style: italic;
  font-size: 18px;
  width: 40%;
  margin: auto;
  margin-top: 20px;
}
*/
#container1{
  position: absolute;
  z-index: 1;
  min-height: 100%;
  min-width: 100%;
}

#container2{
  position: absolute;
  z-index: 2;
  top: 100px;
  left: 500px;
}

.col-xs-6{
  width: 100%;
}
/* Modal Response Header Styles*/
#header-response {
  display: block;
}


#check-icon {
  margin-left:12px;
  display: block;
}


.modal-header {
  text-align:center;
}

#spin-loader {
  color: gray;
}

/*Modal Response Body Styles*/

.red {
  color: red;
}

.green {
  color: green;
}

.modal-body {
  color: gray;
}

.response-text {
  float: left;
  width: 8em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.comment-text {
  padding-left: 3em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.border-left {
  border-left: 1px solid gray;
  float: left;
}

#valid-response {
  display: block;
  border: 1px solid gray;
  padding-left:3em;
}

#tests-response {
  width: 80%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 20px;
}

.test {
  border:1px solid gray;
  padding-top:10px;
  padding-bottom:10px;
}

.test-input {
  width: 33%;
  text-align: center;
  float: left;
}

.test-headers {
  font-size: 14px;
  color: black;
  text-align: center;
}

.test-header {
  float: left;
  padding: 5px;
  width: 33%;
}

/*end of modal styling*/


.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

#waitingCountdown {
  margin-top: 20px;
  font-size: 120px;
  display: none;
}

.lead{
  margin-bottom: 20px;
  font-weight: 300;
  line-height: 1.4;
  margin-top: 20%;
}
#waitingOverlay{
  background: rgba(0,0,0,0.85);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  color: #FFF;
  font-size: 14px;
  line-height: 20px;
}

.counter{
  font-size: 200px;
}

