<div ng-switch="authenticate()">
  <div ng-switch-when="false">
    <h2 style="text-align:center; margin:auto; margin-top:10px; display:block; margin-bottom:40px; margin-top:40px; font-size:xx-large">Start a code fight!</h2>

    <!-- change href once deployed -->
    <a style="text-align:center; margin:auto; margin-top:10px; display:block;" ng-href="http://localhost:3000/auth-facebook" id="facebookButton" ><img src="login-facebook.png"/></a>
  </div>
  <div ng-switch-default>
    <div id="profileView">
      <div>{{username}}</div>
      <div id="fbPicture">
      <!-- Facebook wouldn't give us access to the user's profile picture until our app was reviewed, so we just use this default photo -->
        <img src='puzzle_fighter_homage.gif' />
      </div>
    </div>
    <div id="challengeInfo">
      <div> CHALLENGE STATS
        <div id='statsHolder'>
        </div>
        <p>should contain the average time for each challenge</p>
        <p>should contain the win to lose ratio</p>
        <p>should be able to playback past matches</p>
      </div>
    </div>
    <!-- <li>
        Choose Your Battle!
        <ul>
          <li>1 v 1</li>
          <li>1 v Ghost</li>
        </ul>
    </li> -->
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Choose Your Fight
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="" ng-click="start()">1 v 1</a></li>
        <li><a href="" ng-click="playGhost()">1 v Ghost</a></li>
      </ul>
    </div>
  </div>
</div>

